<h2>Invite someone</h2>
<div class='card long'>
  <div class='twelve columns form_container'>
    <div class='fields_container'>
    <%= simple_form_for @invite, url: {action: 'create'} do |f| %>
      <%= f.input :email, label: false, placeholder: 'Enter Email' %>
      <%= f.submit 'Invite', class: 'button-primary' %>
    <% end %>
    </div>
  </div>
  <% if @unready_users.present? %>
  <div class='tabled_view'>
    <p class='subheader'>These invitees don't have any items in their wishlists yet.</p>
    <table>
    <% @unready_users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Remind', reminder_path(user_id: user.id, event_id: @event.id) %></td>
    </tr>
    <% end %>
    </table>
  </div>
  <% end %>
</div>


