<h2>Invite someone</h2>
<div class='twelve columns form_container'>
  <div class='fields_container'>
  <%= simple_form_for @invite, url: {action: 'create'} do |f| %>
    <%= f.input :email, label: false, placeholder: 'Enter Email' %>
    <%= f.submit 'Invite', class: 'button-primary' %>
  <% end %>
    <p class='subheader'>Unready Participants</p>
    <table>
    <% @unready_users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Remind', '#' %></td>
    </tr>
    <% end %>
    </table>
  </div>
</div>


