<h2>Event Participants</h2>

<table class='u-full-width'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wishlist?</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <%= @user.show_partner(user) %>
  </tbody>
  <% end %>
</table>
<%= simple_form_for :partnerships, url: event_partnerships_path(@event), method: :post  do |f| %>
<%= f.submit 'Assign Partners' %>
<%= link_to 'Invite People', new_event_invite_path(@event), class: 'button' %>
<%= link_to 'Back to Events', events_path %>
<% end %>
