<h2>Event Participants</h2>
<p class='hint left'>
  Click <%= link_to 'here', event_partnerships_path %> if you need to view your event's partnerships
</p>

<ul>
  <%= render 'invite_users', event: @event %>
  <%= render 'shuffle_partners' %>

  <div class='twelve columns'>
    <% @users.each do |user| %>
    <li class='three columns card'>
      <div class='primary'><%= content_tag(:i, nil, class: 'fa fa-user fa-10x') %></div>
      <div class='secondary'>
        <span><%= user.full_name %></span>
      </div>
    </li>
    <% end %>
  </div>
</ul>
