<h2><%= @event.name %></h2>
<table class='u-full-width'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Wishlist?</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.wishlist.present? ? 'Ready' : 'Not Ready' %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= simple_form_for :partnerships, url: event_partnerships_path(@event), method: :post  do |f| %>
<%= f.submit 'Assign Partners' %>
<%= link_to 'Invite People', new_event_invite_path(@event), class: 'button' %>
<%= link_to 'Back to Events', events_path %>
<% end %>