<h2>Event Participants</h2>

<ul>
  <%= render 'invite_users', event: @event %>
  <% @users.each do |user| %>
  <li class='three columns card'>
    <div class='primary'><%= content_tag(:i, nil, class: 'fa fa-user fa-10x') %></div>
    <div class='secondary'>
      <span><%= user.full_name %></span>
    </div>
  </li>
  <% end %>
</ul>

<% if false %>
<table class='u-full-width'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wishlist?</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <%= @user.show_partner(params[:event_id]) %>
  </tbody>
  <% end %>
</table>
<%= simple_form_for :partnerships, url: event_partnerships_path(@event), method: :post  do |f| %>
<%= f.submit @event.show_assign_or_reassign %>
<%= link_to 'Invite People', new_event_invite_path(@event), class: 'button' %>
<%= link_to 'Back to Events', events_path %>
<% end %>
<% end %>
