<div id='events'>
<h2>Archived Events</h2>
<p class='hint'>View or edit your archived events.</p>

<div class='events'>
  <% @events.each do |event| %>
    <div class='event'>
      <div class='card'>
        <div class='primary'>
          <div class='event_name'><%= event.name %></div>
          <span class='event_date'><%= event.date.strftime('%b %d %Y') %></span>
        </div>
        <div class='secondary'>
          <p><%= link_to 'View Details', event_path(event) %></p>
        </div>
        <% if event.admin == current_user %>
        <div class='edit_actions'>
          <div class='left_icon'>
            <%= link_to content_tag(:i, nil, class: 'fa fa-users'), event_users_path(event.id) %>
          </div>
          <div class='right_icon'>
            <%= link_to content_tag(:i, nil, class: 'fa fa-pencil-square-o fa-lg'), edit_event_path(event), id: "edit-event-#{event.id}" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
