<h2>Edit Event Details</h2>
<div class='twelve columns form_container'>
  <div class='fields_container'>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name, label: false, placeholder: 'Event Name' %>
    <%= f.input :description, label: false, placeholder: 'Details' %>
    <%= f.text_field :date, label: false, placeholder: 'Event Date',
                      value: f.object.date.strftime("%m/%d/%y") %>
    <%= f.input :max_spend, label: false, placeholder: 'Spending Cap' %>
    <%= f.submit class: 'button-primary' %>
  <% end %>
  </div>
</div>
