<h2>Edit Event Details</h2>
<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :max_spend %>
  <%= f.input :date %>
  <%= f.submit class: 'button-primary' %>
<% end %>
<%= link_to 'Back to Events', events_path %>