<h2>Edit your event details below:</h2>
<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :max_spend %>
  <%= f.input :date %>
  <%= f.submit class: 'button-primary' %>
<% end %>
<%= link_to 'View Users', event_users_path(@event), class: 'button' %>
<%= link_to 'Back to Events', events_path %>