 <div id='events'>
  <%= render 'events_header', show_archived: @show_archived %>
  <div class='events'>
    <% @events.each do |event| %>
      <div class='event'>
        <div class='card'>
          <div class='primary'>
            <div class='event_name'><%= event.name %></div>
            <span class='event_date'><%= event.date.strftime('%b %d %Y') %></span>
          </div>
          <div class='secondary'>
            <p><%= link_to 'View Details', event_path(event) %></p>
          </div>
          <% if event.admin == current_user %>
          <div class='actions'>
            <div class='left_icon'>
              <%= link_to content_tag(:i, nil, class: 'fa fa-users'), event_users_path(event.id), title: 'Add Participants' %>
            </div>
            <div class='right_icon'>
              <%= link_to content_tag(:i, nil, class: 'fa fa-pencil-square-o fa-lg'), edit_event_path(event), id: "edit-event-#{event.id}", title: 'Edit Event' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if !@show_archived %>
      <%= render 'add_event' %>
    <% end %>
  </div>
</div>
