<h2>Your events:</h2>
<% if @events.blank? %>
  <p>You have yet to create a event. Click <%= link_to 'here', new_event_path %> to get the event started.</p>
<% else %>
  <table class='u-full-width'>
    <thead></thead>
    <tbody>
    <% @events.each do |event| %>
      <td><%= event.name %></td>
      <td><%= link_to 'View', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Users', event_users_path(event.id) %></td>
      <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tbody>
  <% end %>
  </table>
<% end %>
<div class='twelve columns'>
  <%= link_to 'Add New Event', new_event_path, class: 'button' %>
</div>
