<h2><%= @event.name %></h2>
<ul>
  <div class='three columns event_details ev_desc'>
    <i class='fa fa-info-circle fa-4x'></i>
    <div><%= @event.description %></div>
  </div>

  <div class='three columns event_details ev_users'>
    <i class='fa fa-user fa-4x'></i>
    <div class='partner_info'>
      <%= @current_user.show_partner(@event.id) %>
    </div>
  </div>

  <div class='three columns event_details ev_date'>
    <i class='fa fa-calendar fa-4x'></i>
    <div><%= @event.date.strftime('%m/%d') %></div>
  </div>

  <div class='three columns event_details ev_max'>
    <i class='fa fa-money fa-4x'></i>
    <div><%= number_to_currency @event.max_spend, precision: 0 %></div>
  </div>
</ul>
