<h2><%= @event.name %></h2>
<ul>
  <div class='three columns event_details ev_desc'>
    <i class='fa fa-info-circle fa-4x'></i>
    <div><%= @event.description %></div>  
  </div>  

  <div class='three columns event_details ev_date'>
    <i class='fa fa-calendar fa-4x'></i>
    <div><%= @event.date.strftime('%m/%d') %></div>
  </div>  

  <div class='three columns event_details ev_max'>
    <i class='fa fa-money fa-4x'></i>
    <div><%= number_to_currency @event.max_spend, precision: 0 %></div>
  </div>  

  <div class='three columns event_details ev_users'>
    <i class='fa fa-user fa-4x'></i>
    <div class='partner_info'>
      <% if @partner && @partner.wishlist%>
        <p><%= @partner.fname %></p>
    </div>
      <p>
        <%= link_to "#{@partner.fname}'s Wishlist", wishlist_path(@partner.wishlist.id) %>
      </p>
    <% end %>
  </div>
</ul>

<% if false %>
  <label>Description:</label>
  <div><%= @event.description %></div>

  <% unless @event.max_spend.blank? %>
    <label>Maximum Spend Amount:</label>
    <div><%= number_to_currency @event.max_spend, precision: 0 %></div>
  <% end %>

  <label>Event Date:</label>
  <div><%= @event.date.strftime("%B %d, %Y") %></div>

  <% if @partnership && @partnership.getter.wishlist%>
    <label>Your Gift Exchange Partner:</label>
    <div><%= link_to "#{@partnership.getter.fname}'s Wishlist", wishlist_path(@partnership.getter.wishlist.id) %></div>
  <% end %>
  <%= link_to 'Edit Event', edit_event_path(@event), class: 'button' %>
  <%= link_to 'Back to Events', events_path %>
</div>
<% end %>