<table>
  <tr>
    <th>Email</th>
    <th>Wishlist?</th>
  </tr>
  <% @participants.each do |participant| %>
  <tr>
    <td><%= participant.email %></td>
    <td><%= participant.wishlist.present? ? 'Ready' : 'Not Ready' %></td>
  </tr>
  <% end %>
</table>
<%= simple_form_for :partnerships, method: :post do |f| %>
<%= f.submit 'Assign Partners' %>
<%= link_to 'Back to Event', edit_event_path(@event) %>
<% end %>