<h2>Edit your party details below:</h2>
<ul>
  <%= simple_form_for @party do |f| %>
    <li><%= f.input :name %></li>
    <li><%= f.input :description %></li>
    <li><%= f.input :date %></li>
    <%= f.submit %>
  <% end %>
</ul>