<div class='sign_in_container'>
  <div class='sign_in'>
    <%= image_tag 'swap-thing-logo.svg' %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, label: false, placeholder: 'Email', autofocus: true, input_html: { value: params[:email] } %>
      <%= f.input :password, label: false, placeholder: 'Password', autocomplete: "off" %>
      <%= hidden_field_tag 'event_id', nil, { value: params[:event_id] } %>
      <%= f.submit "Sign in", class: 'button-primary' %>
      <div>
        <span><%= link_to 'Sign up', new_user_registration_path %></span>
        <span><%= link_to 'Forgot password?', forgot_password_path %></span>
      </div>
    <% end %>
  </div>
</div>
