<h2>Sign in</h2>

<div class='sign_in_container'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, label: false, placeholder: 'Email', autofocus: true %>
    <%= f.input :password, label: false, placeholder: 'Password', autocomplete: "off" %>
    <%= f.submit "Sign in", class: 'button-primary' %>
  <% end %>
</div>

<% if false %>
<%= render "devise/shared/links" %>
<% end %>