<h2>Edit Item</h2>
<%= simple_form_for @item, url: user_wishlist_item_path do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :notes %>
  <%= f.input :url %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to Wishlist', edit_user_wishlist_path(params[:user_id], params[:wishlist_id]) %>