<h2>Add Item</h2>
<div class='card long'>
  <div class='twelve columns form_container'>
    <div class='fields_container'>
      <%= simple_form_for [@user, @wishlist, @item] do |f| %>
        <%= f.label :name, 'Item Name' %>
        <%= f.input :name, label: false, placeholder: 'Terminator 2' %>

        <%= f.label :notes, 'Notes'  %>
        <%= f.input :notes, label: false, placeholder: 'Special edition Bluray' %>

        <%= f.label :url, 'URL' %>
        <%= f.input :url, label: false, placeholder: 'www.amazon.com/movies/terminator_2' %>

        <%= f.label :image_url, 'Image URL' %>
        <%= f.input :image_url, label: false, placeholder: 'www.amazon.com/movies/terminator_2.jpg' %>

        <%= f.label :price, 'Price' %>
        <%= f.input :price, label: false, placeholder: '20' %>

          <%= f.submit 'Add Item', class: 'button-primary' %>
      <% end %>
    </div>
  </div>
</div>