<h2>Add Item</h2>
<div class='twelve columns form_container'>
  <div class='fields_container'>
    <%= simple_form_for [@user, @wishlist, @item] do |f| %>
      <%= f.label :name, 'Item Name' %>
      <%= f.input_field :name, label: false, placeholder: 'Terminator 2' %>
      <%= f.error :name %>

      <%= f.label :notes, 'Notes'  %>
      <%= f.input_field :notes, label: false, placeholder: 'Special edition Bluray' %>
      <%= f.error :notes %>

      <%= f.label :url, 'URL' %>
      <%= f.input_field :url, label: false, placeholder: 'www.amazon.com/movies/terminator_2' %>
      <%= f.error :url %>

      <%= react_component('ImageUrlField', props: { imageUrl: @item.image_url, error: @item.errors[:image_url] }) %>

      <%= f.label :price, 'Price' %>
      <%= f.input_field :price, label: false, placeholder: '20' %>
      <%= f.error :price %>

      <%= f.submit 'Add Item', class: 'button-primary' %>
    <% end %>
  </div>
</div>
