<ul class='wishlist-items'>
<%= @wishlist.show_add_item_card %>
<% @wishlist.items.each do |item| %>
  <div class='wishlist-item'>
    <div class='card'>
      <%= link_to item.url.presence, target:'_blank' do %>
        <div class='primary'>
          <% if item.image.present? %>
            <span class='image'><%= image_tag item.image(:original) %></span>
          <% else %>
            <%= content_tag(:i, nil, class: 'fa fa-gift fa-10x') %>
          <% end %>
          <div class='prod_price'><%= number_to_currency item.price, precision: 0 %></div>
        </div>
      <% end %>
      <div class='secondary'>
        <div class='prod_source'><%= item.short_url if item.url.present? %></div>
        <div class='prod_name'><%= item.name %></div>
        <div class='prod_notes'><%= item.notes %></div>
      </div>
      <%= @wishlist.show_delete_link item %>
      <%= @wishlist.show_edit_link item %>
    </div>
    <div class='mark-as-purchased'>
      <%= react_component('MarkAsPurchasedLink', props: { id: item.id, purchased: item.purchased }) %>
    </div>
  </div>
<% end %>
</ul>
