<ul>
<%= @wishlist.show_add_item_card %>
<% @wishlist.items.each do |item| %>
  <div class='three columns card'>
      <a href=<%= item.url unless item.url.blank? %> >
        <div class='primary'>
          <% if item.image.present? %>
            <span class='image'><%= image_tag item.image(:original) %></span>
          <% else %>
            <%= content_tag(:i, nil, class: 'fa fa-gift fa-10x') %>
          <% end %>
          <div class='prod_price'><%= number_to_currency item.price, precision: 0 %></div>
        </div>
      </a>
      <div class='secondary'>
        <div class='prod_source'><%= item.short_url if item.url.present? %></div>
        <div class='prod_name'><%= item.name %></div>
        <div class='prod_notes'><%= item.notes %></div>
      </div>
      <%= @wishlist.show_delete_link item %>
      <%= @wishlist.show_edit_link item %>
  </div>
<% end %>
</ul>