<ul>
<% @wishlist.items.each do |item| %>
  <div class='three columns'>
    <li class='card'>
      <a href=<%= item.url unless item.url.blank? %> >
        <div class='prod_image'>
          <div class='prod_price'><%= number_to_currency item.price, precision: 0 %></div>
        </div>
      </a>
      <div class='prod_info'>
        <div class='prod_source'><%= item.short_url if item.url.present? %></div>
        <div class='prod_name'><%= item.name %></div>
        <div class='prod_notes'><%= item.notes %><div>
      </div>
  <!--     <div class='btn_wrap'>
        <a href="#">
          <div class='btn'>
            <i class='fa fa-share'></i>
          </div>
        </a>
      </div> -->
      <div class='edit_wishlist_item'>
        <%= link_to content_tag(:i, nil, class: 'fa fa-pencil-square-o'), edit_user_wishlist_item_path(wishlist_id: params[:id], id: item.id) %>
      </div>
    </li>
  </div>
<% end %>
</ul>
<div class='actions'>
  <%= link_to 'Create Item', new_user_wishlist_item_path(wishlist_id: params[:id]), class: 'button' %>
</div>