<h2><%= @wishlist.user.full_name %>'s Wishlist</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Notes</th>
    <th>URL</th>
  </tr>
<% @wishlist.items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price.blank? ? '' : item.price %></td>
    <td><%= item.description.blank? ? '' : item.description %></td>
    <td><%= item.notes.blank? ? '' : item.notes %></td>
    <td><%= item.url.blank? ? '' : item.url %></td>
  </tr>
<% end %>
</table>