<!DOCTYPE html>
<html>
<head>
  <title>Swapthing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_pack_tag 'swapthing-bundle' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="F6OPZWuwvMhCeSzW_REuk9c3eiQRuKO_d837Ha8uBjc" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <% [:error, :notice].each do |key| %>
    <% unless flash[key].blank? %>
      <div class=<%= "#{key.to_s}-top" %>>
        <%= flash[key] %>
      </div>
      <% break %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
  <div class='st-wrapper'>
    <%= render 'application/mobile_menu' %>
      <%= render 'application/navigation_menu' %>
  <% end %>
    <div class='container'>
  
    <%= yield %>
  
    </div>

  </div>
</body>
</html>
