<h2>Sign up</h2>
<div class='card long'>
  <div class='twelve columns form_container'>
    <div class='fields_container'>
    <%= simple_form_for(@user, url: registration_path(@user)) do |f| %>
      <%= f.input :fname, label: false, placeholder: 'First Name' %>
      <%= f.input :lname, label: false, placeholder: 'Last Name' %>
      <%= f.input :email, label: false, placeholder: 'Email' %>
      <%= f.input :password, autocomplete: "off", label: false, placeholder: 'Password' %>
      <div><%= f.input :password_confirmation, autocomplete: "off", label: false, placeholder: 'Retype Password' %></div>

        <% unless @token.blank? %>
        <%= hidden_field_tag :invite_token, @token %>
        <% end %>
        
      <%= f.submit 'Sign up', class: 'button-primary' %>
    <% end %>
    </div>
  </div>
</div>